/*.gray {
    background-color: rgba(204, 204, 204, 1);
}

/*.container {
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
    border-radius: 0 0 45px 0;
}*/

.navbar {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);

}

.icon-female {
    font-size: 18px;
    margin-right: 4%;
    color: #f49cb4;
    border-style: solid;
    border-color: #f49cb4;
    border-radius: 20%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

.icon-female:hover {
    color: #ffffff;
    background-color: #f49cb4;
}

.icon-male {
    font-size: 18px;
    margin-left: 4%;
    color: #57c8f4;
    border-style: solid;
    border-color: #57c8f4;
    border-radius: 20%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

.icon-male:hover {
    color: #ffffff;
    background-color: #57c8f4;
}

.icon-cart:hover
    .fa{
        color: #ffffff !important;
}

.icon-user:hover
    .fa{
        color: #ffffff !important;
}

.has-error input {
    border: 1px solid #e81123;
}
.error {
    color: #e81123;
}
